.navbar-brand img {
    width: 110px;
}

.nav-link {
    color: #c200ff !important;
    font-weight: 600;
    margin-left: 20px;
}

.wrapper {
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 2px rgba(37, 73, 214, 018);
}

.Feature-Box {
    padding: 30px;
}

.Feature-Box h1 {
    margin-top: 20%;
    color: #c200ff;
}

.Feature-Box p {
    margin: 50px auto;
    color: #555
}

.Feature-Box a {
    text-decoration: none !important;
    background: #a669ce;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 30px;
    border: 2px solid !important;
    color: #fff;
}

.btn-one:hover {
    color: #f60909
}

.btn-two {
    background: none !important;
    color: #a669ce !important;
}

.feature-img {
    width: 100%;
    padding: 40px;
}

.wave-img {
    width: 100%;
    position: absolute;
    display: block;
    top: 85;
    z-index: -1;
    opacity: 0.2;
}

@media screen and (max-width:99px) {
    .wave-img {
        display: none;
    }
    .Feature-Box a {
        padding: 5px 8px;
        margin-right: 10px;
    }
}